<h2>Template Dinamicos</h2>
<hr>

<form (ngSubmit)="guardar()" #miFormulario="ngForm">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input required type="text" [ngModel]="persona.nombre" class="form-control" name="nombre" ngModel
                placeholder="Nombre de la persona">
            <span *ngIf="nombreValido()" class="form-text text-danger">Es Obligatorio</span>
        </div>
    </div>

    <!-- agregar favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" class="form-control" name="nuevoJuego" [(ngModel)]="nuevoJuego" placeholder="Agregar Favorito">
                <button type="button" class="btn btn-outline-primary" (click)="add(nuevoJuego)">Agregar</button>
            </div>

        </div>
    </div>

    <!--  Favoritos-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">

            <div class="input-group mb-1"  *ngFor="let item of persona.favoritos; let i = index">
                <input required  name="juego{{i}}"
                    [(ngModel)]="item.nombre" type="text" class="form-control ">
                    <button type="button" class="btn btn-outline-danger" (click)="eliminar(i)">Eliminar</button>
    
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <button type="button" [disabled]="!miFormulario.valid" class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>