<h2>Reactives Switches</h2>

<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Radios -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input required class="form-check-input" value="M" 
                 type="radio"  formControlName="genero" id="radioMasculino">
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input required class="form-check-input" value="F" formControlName="genero"
                type="radio"  id="RadioFemenino">
                <label class="form-check-label" for="RadioFemenino">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input required class="form-check-input" formControlName="notificaciones" 
                 type="checkbox" id="flexSwitchCheckChecked" >
                <label class="form-check-label" for="flexSwitchCheckChecked">Recibir Notificaciones</label>
            </div>
        </div>
    </div>

    <!-- CheckcBox -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input required class="form-check-input" formControlName="terminos"
                 type="checkbox"  id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Terminos y condiciones
                </label>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>

</form>

<h5>Valor del formlario</h5>
<pre>{{miFormulario.value | json}}</pre>
<br>
<h5>Persona</h5>
<pre>{{persona | json}}</pre>
<br>
<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>
<br>

<h5>Terminos</h5>
<pre>{{miFormulario.controls['terminos']?.errors|json }}</pre>
<br>

<h5>Condicioens</h5>
